h2{
	color:seagreen;
}

@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
h2{
	 font-family: "Goblin One", serif;
  font-weight: 520;
  font-style: normal;
  border-bottom: 2px solid #20603b;
  display:inline-grid;
  padding:5px;
  color:seagreen;
}

body{
	margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');
p{
	font-family: "Ruslan Display", sans-serif;
	line-height: 1.8;
}
h1{
	text-align: center;
}
a:link{
  color: black;
}
a:visited{
  color: darkgreen;
}
a:hover{
  color: blue;
}
a:active{
  color: black;
}

nav{
  text-align: center;
  background-color: #20603b;
  padding: 7px;
  padding: 5px;
  font-size: 20px;
}
nav ul{
  list-style-type:none;
  text-align: center;
  padding: 0;
  margin: 8px 0;
}
nav li{
  display:inline;
  padding: 10px;
}
nav a{
  text-decoration:none;
  }

nav a:link{
  color:white
}
nav a:visited{
  color:White;
}
nav a:hover{
  color: #003300
}
nav a:active{
  color:purple
}
main{
	max-width: 1000px;
	margin: 30px auto;
	padding: 10-px;
}
footer{
  border-top:black 3px solid;
	text-align: Center;
}

 h1{
    font-size: 4em;
 }
 .gallery .preview{
    width: 10
  0%;
    height: auto;
    border-radius:10px ;
}

.gallery .gallery-thumbnails img {
    width: 100px;
    height: 75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
  h1{
    font-size: 1.8em;
}
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
  h1{
    font-size: 1.5em;
  }
}
.home-hero{
  background-image:url(images/trees.jpg);
background-size:cover;
background-repeat: no-repeat;
background-position-y:60%;
height: 250px;
border-bottom: 3px solid black;
}

.home-hero h1{
  font-family: "Goblin One", serif;
  font-weight: 520;
  font-style: normal;
  color:White;
  font-size:40px;
  text-shadow:2px 2px 2px black;
  text-align: center;
  padding:50px 0;
  margin:0;
}
.home-photo{
  float:right;
  height:auto;
  margin:0px 0 10px 20px;
  border: 7px solid #20603b;
  border-radius:10px;

}
footer{
  text-align: center;
  background: black;
background:seagreen;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 5px;
   clear: both;
   color: black;
}
canvas{
   background-image: url(images/blocky.png);
   background-size: cover;
   margin: 0 auto;
   display: block;
}
.game-controls{
  text-align: center;
}
.logo{
   margin: 0 auto;
   display:block;
}
header{
  background-color: seagreen;
}
/* JavaScript Game changes for mobile */
.mobile{
  display:none;
}
@media only screen and (max-width: 768px){
  .desktop{display:none;
  }
  .mobile{
    display: block;
    touch-action: manipulation;
  }
}

.resume{
  border: 1px solid #dddddd;
  box-shadow: 5px 5px 15px -2px #000000;
  padding-left: 15px;
}
.fa{
  font-size:4em;
  padding: 10px;
  color:black;
}
footer.fa{
  font-size: 50em ;
  color: black;
}

a.button-design{
  color:#ffffff;
  border-radius: 3px;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: bold;
}
a.button-design:link{
  background-color:#20603b;
}
a.button-design:hover{
background-color:#7070db;
}